<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Page Not Found | WatchThis</title>
        <link rel="stylesheet" href="/assets/styles/pageNotFound.css" />
    </head>

    <body>

        <div class="not-found-wrapper">
            <h1 class="glow-title">404</h1>
            <h2 class="not-found-message">Oops! Page Not Found</h2>
            <p class="not-found-subtext">The URL you entered doesn’t lead anywhere.</p>
            <button onclick="window.location.href='/'" class="home-btn">Back to Homepage</button>
        </div>

    </body>
</html>